@import url( '../../bower_components/bootstrap/less/bootstrap.less' );
@import url( https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic );

/********************************
    General Styles
********************************/
body                                                { font-family: "Open Sans"; }
.container-fluid                                    { max-width: 1020px; }
img                                                 { max-width: 100%; }

/********************************
    Navbar Styles
********************************/
.navbar-default                                     { min-height: 60px; margin-bottom: 0; background-color: #01D8A2; border: none; border-radius: 0; }
.navbar-brand                                       { height: 60px; }
.navbar-default .navbar-nav > li > a                { padding: 15px 25px; font-size: 14px; font-weight: 300; line-height: 30px; text-transform: uppercase; color: #fff; }
.navbar-default .navbar-nav > li > a:hover          { color: #ddd; }
.navbar-default .navbar-nav > li:last-child > a     { padding-right: 0; }

/********************************
    Banner Styles
********************************/
#banner                                             { padding-top: 80px; padding-bottom: 55px; background: url(../img/banner.png) no-repeat; }
#banner img                                         { margin-bottom: 20px; }
#banner p                                           { font-size: 18px; font-weight: 300; color: #fff; }

/********************************
    Slider Styles
********************************/
#slider-container                                   { background-color: #308E7C; }
#slider .item                                       { margin: 70px 0 90px; }
#slider .item p                                     { margin-bottom: 30px; font-size: 16px; font-weight: 300; color: #fff; }
#slider .item p:last-child                          { margin-bottom: 0; }

/********************************
    Members Styles
********************************/
#members                                            { margin-top: 30px; }
.member h3                                          { margin-top: 0; padding: 30px 0; font-size: 23px; font-weight: 700; line-height: 32px; color: #4d4d4d; text-align: center; border-bottom: 1px solid #4d4d4d; }
.member h3.multiline                                { padding: 14px 0; }
.member h2                                          { font-size: 120px; font-weight: 300; color: #4d4d4d; text-align: center; }
#data-container                                     { margin-top: 40px; position: relative; }
#data-container .info-container                     { width: 350px; padding: 20px; box-shadow: 0 0 15px 1px rgba(0,0,0,0.2); position: absolute; top: 10px; right: 10px; }
#data-container .info-container h3                  { margin: 0 0 20px; font-size: 20px; font-weight: 700; color: #515151; }
#data-container .info-container h4                  { margin-bottom: 0; font-size: 14px; font-weight: 600; color: #515151; }
#data-container .info-container p                   { margin-bottom: 30px; font-size: 14px; font-weight: 300; color: #515151; }
#data-container .info-container p:last-child        { margin-bottom: 0; }